@import 'tailwindcss';
@import "@nuxt/ui";


@theme {
  --font-sans: 'Roboto', sans-serif;
  --font-serif: 'Roboto Serif', serif;
  --font-mono: 'Roboto Mono', monospace;
}

@utility work-in-progress {
  display: none;
}
