@import 'tailwindcss';
@import "@nuxt/ui";


@theme {
  --font-sans: 'Roboto', sans-serif;
  --font-serif: 'Roboto Serif', serif;
  --font-mono: 'Roboto Mono', monospace;
}

@utility work-in-progress {
  display: none;
}

/*
 * Fixes icon misalignment in the Nuxt UI Switch component.
 * Targets Iconify icons within the switch to ensure they are perfectly centered.
 */
button[role="switch"] span > span[class*="iconify"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
